In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'vehicle':['m','c','t','m','m','c','c','t','t','t','c','m'],
                   'width':[50,100,150,60,70,110,120,160,155,140,120,90],
                   'height':[150,200,300,160,170,190,210,280,260,270,220,155]})

In [4]:
df['distance'] = np.sqrt((df['width']-120)**2 + (df['height']-280)**2)

In [5]:
df

   vehicle  width  height    distance
0        m     50     150  147.648231
1        c    100     200   82.462113
2        t    150     300   36.055513
3        m     60     160  134.164079
4        m     70     170  120.830460
5        c    110     190   90.553851
6        c    120     210   70.000000
7        t    160     280   40.000000
8        t    155     260   40.311289
9        t    140     270   22.360680
10       c    120     220   60.000000
11       m     90     155  128.549601

In [6]:
df.sort_values('distance', inplace=True)

In [7]:
df

   vehicle  width  height    distance
9        t    140     270   22.360680
2        t    150     300   36.055513
7        t    160     280   40.000000
8        t    155     260   40.311289
10       c    120     220   60.000000
6        c    120     210   70.000000
1        c    100     200   82.462113
5        c    110     190   90.553851
4        m     70     170  120.830460
11       m     90     155  128.549601
3        m     60     160  134.164079
0        m     50     150  147.648231

In [8]:
df[0:3]

  vehicle  width  height   distance
9       t    140     270  22.360680
2       t    150     300  36.055513
7       t    160     280  40.000000

In [9]:
knn3 = df[0:3]

In [10]:
knn3

  vehicle  width  height   distance
9       t    140     270  22.360680
2       t    150     300  36.055513
7       t    160     280  40.000000

In [11]:
knn3['vehicle']

9    t
2    t
7    t
Name: vehicle, dtype: object

In [12]:
knn3['vehicle'].value_counts()

t    3
Name: vehicle, dtype: int64